.advantage {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 40px;
  grid-row-gap: 10px;
  margin-bottom: 30px;
}

.title {
  align-self: center;
  font-weight: bold;
}

.vline {
  border-left: 1px solid var(--gray-light);
}
