.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 10px 40px;
  background-color: var(--primary);
  padding: 25px 30px;
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
}

.footer a:hover {
  color: var(--gray-light);
}

@media (max-width: 765px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
