.title {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: baseline;
  justify-items: left;
  column-gap: 20px;
  margin-bottom: 30px;
}

.hhTitle {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  justify-items: left;
  column-gap: 20px;
}

.seo h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  margin: 0;
}

.seo h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 50px 0 25px;
}

.seo h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .title {
    grid-template-columns: auto 1fr;
  }
}
