.textarea {
  padding: 7px 15px;
  color: var(--black);
  border: none;
  outline-color: var(--primary);
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 22px;
}

.textarea::placeholder {
  color: var(--gray);
}
