.hh {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 30px;
}

.count {
  padding: 20px;
  text-align: center;
}

.salary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  text-align: center;
}

.salary > div {
  border-right: 1px solid var(--gray-light);
}

.salary > div:last-child {
  border-right: none;
}

.title {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}

.countValue {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: var(--primary);
}

.salaryValue {
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 10px;
}

.rate {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  column-gap: 10px;
  justify-content: center;
}

.filled circle {
  fill: var(--red);
}

@media screen and (max-width: 1200px) {
  .hh {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 640px) {
  .salary {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .salary > div {
    border-right: none;
    border-bottom: 1px solid var(--gray-light);
    padding-bottom: 20px;
  }

  .salary > div:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}
