.sortIcon {
  display: none;
}

.active {
  font-weight: bold;
  color: var(--primary);
}

.active .sortIcon {
  display: block;
  margin-right: 8px;
}

.sort {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

.sort span {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.sort span:not(.active) {
  grid-template-columns: 1fr;
}
