.tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
}

.s {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;
}

.m {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  color: var(--white);
  background-color: #de0000;
  font-weight: 600;
}

.grey {
  color: var(--white);
  background-color: #b3c0d3;
  font-weight: 600;
}

.green {
  color: var(--green);
  background-color: var(--green-light);
  font-weight: 600;
}

.primary {
  color: var(--primary);
  background: none;
  border: 1px solid var(--gray-light);
}
