:root {
  --black: #3b434e;
  --gray: #a4a4a4;
  --gray-light: #d2d2d2;
  --gray-dark: #787d85;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: #f5f6f8;
  font-family: var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}
